*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    padding: 3rem;
}

.w-100{
    width: 100%;
}

.w-40{
}

.input{
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    margin-bottom: 1.5rem;
    color: #999;
}
/* 00C49A F8E16C*/
.botonP{
    padding: .7rem 1.2rem;
    background-color: #A1E887;
    border: 2px solid #4B4E6D;
    border-radius: 10px;
    font-weight: 500;
}

.article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:.5rem 2rem;
}

#todo{
    margin-top: 2rem;
}

.proyecto{
    border: 2px solid #6622CC;
}

.proyecto__titulo{
    margin-bottom: 2rem;
    text-transform: capitalize;
}

.proyecto__tarea{
    display: flex;
    padding:1rem;
    justify-content: space-around;
    align-items: center;
}

.check{
    width: 2rem;
    height: 2rem;

    margin-right: 3rem;
}

.label{
    padding: 0rem;
    font-size: 1rem;
    color: #aaa;
}

#todo {
    /*/ todo men /*/
}

.proyecto__titulo{
    display: flex;
    justify-content: space-between;
    background-color: #6622CC;
    color: #F0F4EF;
    padding: 1rem 2rem;
}

.proyecto__vencimiento{
    width: 40%;
}

.proyecto__input--wrapper{
    width: 40%;
}

